extends markdown
snippet VG "Viele Grüße" sb
Viele Grüße
Armin ${1:Wells}
$0
endsnippet

snippet ffsr "für den FSR" b
für den ${1:FSR}
endsnippet

snippet fevap "für das Eval-Team" b
für das Evaluierungsteam
endsnippet

snippet fsr "FSR-Mail"
Fachschaftsrat <fachschaftsrat@hpi.de>
endsnippet

snippet evap "Evap-Mail"
Evaluierungsteam <evaluierung@hpi.de>
endsnippet

snippet	erst "Erstie-Info"
alles klar, wir haben dich registriert. Du bekommst beizeiten genauere Infos
zugesandt.
endsnippet
